---
- name: Set Linux Hostname and Reboot if changed
  hosts: linux_hosts
  gather_facts: false
  become: true

  tasks:
    - name: Set the new hostname
      hostname: # Simplified for AAP
        name: linux-01
      register: hostname_change

    - name: Reboot Linux server if hostname changed
      reboot: # Simplified for AAP
        reboot_timeout: 600
      when: hostname_change.changed  # <--- This prevents unnecessary reboots
