---
- name: Set Linux Hostname and Reboot if changed
  hosts: linux_hosts
  gather_facts: false
  become: true

  tasks:
    - name: Set the new hostname
      hostname:
        name: linux-01
      register: hostname_change

    - name: Reboot Linux server if hostname changed
      reboot:
        reboot_timeout: 600
      when: hostname_change.changed

    - name: Get current status from the OS
      shell: "echo 'Current Hostname: ' $(hostname) ' | Uptime: ' $(uptime -p)"
      register: status_check

    - name: Display Status in AAP Console
      debug:
        msg: "{{ status_check.stdout }}"
