---
- name: Set Windows Hostname and Reboot
  hosts: windows_hosts
  gather_facts: false

  tasks:
    - name: Set the new hostname
      ansible.windows.win_hostname:
        name: windows-2019
      register: hostname_change

    - name: Reboot Windows server if hostname changed
      ansible.windows.win_reboot:
      when: hostname_change.reboot_required