
---
- name: Set Linux Hostname and Reboot if changed (AWS Ubuntu safe)
  hosts: linux_hosts
  gather_facts: false
  become: true

  vars:
    new_hostname: linux-01

  tasks:
    - name: Ensure cloud-init preserves the hostname (AWS Ubuntu)
      ansible.builtin.lineinfile:
        path: /etc/cloud/cloud.cfg
        regexp: '^preserve_hostname:'
        line: 'preserve_hostname: true'

    - name: Set the new hostname
      ansible.builtin.hostname:
        name: "{{ new_hostname }}"
      register: hostname_change

       - name: Reboot Linux server if hostname changed
      ansible.builtin.reboot:
        reboot_timeout: 600
