---
- name: Verify Report Content
  hosts: windows_server_2025
  gather_facts: yes

  tasks:
    - name: Render and Display Report Content
      debug:
        # We use '../' to step out of the playbooks folder into templates
        msg: "{{ lookup('ansible.builtin.template', '../templates/server_2025_securitysettings.j2') }}"
