---
- name: CIS Hardened security settings for Server 2025
  hosts: all
  gather_facts: yes
  vars:
    s3_bucket: "oml-s3-automation-sandbox"
    s3_path: "cis-baseline-files"
    aws_region: "eu-west-1"
    # Ensures a clean file name on the controller
    report_file: "/tmp/Audit_{{ inventory_hostname }}.html"

  tasks:
    - name: "2.3.2.1: Audit Printer Driver Installation"
      ansible.windows.win_regedit:
        path: HKLM:\SYSTEM\CurrentControlSet\Control\Print\Providers\LanMan Print Provider
        name: AddPrinterDrivers
        data: 1
        type: dword
      register: check_printer

    - name: "2.3.4.1: Audit Secure Channel Signing"
      ansible.windows.win_regedit:
        path: HKLM:\System\CurrentControlSet\Services\Netlogon\Parameters
        name: RequireSignOrSeal
        data: 1
        type: dword
      register: check_domain_sign

    - name: "2.3.9.1: Audit SMB Signing (Always)"
      ansible.windows.win_regedit:
        path: HKLM:\System\CurrentControlSet\Services\LanmanServer\Parameters
        name: requiresecurenegotiate
        data: 1
        type: dword
      register: check_smb_server

    - name: "2.3.17.x: Audit UAC Secure Desktop"
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System
        name: PromptOnSecureDesktop
        data: 1
        type: dword
      register: check_uac

    - name: Consolidate Audit Facts
      set_fact:
        audit_results:
          - { id: "2.3.2.1", name: "Prevent printer driver install", changed: "{{ check_printer.changed }}" }
          - { id: "2.3.4.1", name: "Secure Channel Signing", changed: "{{ check_domain_sign.changed }}" }
          - { id: "2.3.9.1", name: "SMB Signing (Always)", changed: "{{ check_smb_server.changed }}" }
          - { id: "2.3.17.x", name: "Secure Desktop Prompts", changed: "{{ check_uac.changed }}" }

    - name: Generate Local HTML Report
      delegate_to: localhost
      ansible.builtin.template:
        src: "../templates/server_2025_securitysettings.j2"
        dest: "{{ report_file }}"
      check_mode: false

    - name: Upload Report to S3
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket }}"
        # Forces the file into the cis-baseline-files folder
        object: "{{ s3_path }}/Audit_{{ inventory_hostname }}.html"
        src: "{{ report_file }}"
        mode: put
        region: "{{ aws_region }}"
        # These pull directly from the "aws keys" credential in your template
        access_key: "{{ aws_access_key | default(omit) }}"
        secret_key: "{{ aws_secret_key | default(omit) }}"
        session_token: "{{ aws_session_token | default(omit) }}"
        validate_certs: no
