---
- name: S3 Credential & Upload Diagnostic
  hosts: windows_server_2025
  gather_facts: yes
  vars:
    s3_bucket: "oml-s3-automation-sandbox"
    aws_region: "eu-west-1"

  tasks:
    - name: Test Connection - List Bucket Contents
      delegate_to: localhost
      amazon.aws.s3_object_info:
        bucket: "{{ s3_bucket }}"
        region: "{{ aws_region }}"
      register: bucket_info

    - name: Show what Ansible sees in S3
      debug:
        msg: "I can see {{ bucket_info.s3_keys | length }} objects in the bucket."

    - name: Upload Report (Final Attempt - No extra params)
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket }}"
        object: "diagnostic_test_{{ inventory_hostname }}.html"
        content: "{{ lookup('ansible.builtin.template', '../templates/server_2025_securitysettings.j2') }}"
        mode: put
        region: "{{ aws_region }}"
