---
# PART 1: Run on the Windows Server to gather facts
- name: CIS Hardened security settings for Server 2025
  hosts: windows_server_2025
  gather_facts: yes
  tasks:
    - name: Generate HTML Report to Controller
      ansible.builtin.template:
        src: "../templates/server_2025_securitysettings.j2"
        dest: "/tmp/audit_report.html"
      delegate_to: localhost

# PART 2: Run locally on the AAP Controller to handle the S3 Upload
- name: Upload Report to S3 via CLI
  hosts: localhost
  connection: local
  gather_facts: no
  vars:
    s3_bucket: "oml-s3-automation-sandbox"
    s3_path: "cis-baseline-files"
    aws_region: "eu-west-1"
    # Capture the hostname from the previous play
    target_host: "windows_server_2025" 

  tasks:
    - name: Use AWS CLI to Upload (High Reliability)
      shell: |
        aws s3 cp /tmp/audit_report.html s3://{{ s3_bucket }}/{{ s3_path }}/Audit_Report_{{ target_host }}.html --region {{ aws_region }}
      register: aws_output

    - name: Confirm Final S3 Location
      debug:
        msg: 
          - "AWS CLI OUTPUT: {{ aws_output.stdout }}"
          - "Check S3 at: oml-s3-automation-sandbox/{{ s3_path }}/"
