---
- name: CIS Hardened security settings for Server 2025
  hosts: windows_server_2025
  gather_facts: yes
  vars:
    s3_bucket: "oml-s3-automation-sandbox"
    s3_path: "cis-baseline-files"
    aws_region: "eu-west-1"

  tasks:
    # ... [Hardening Tasks] ...

    - name: Upload Report to S3 (Memory Direct)
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket }}"
        # Explicit path: no leading slash to avoid "hidden" folder issues
        object: "{{ s3_path }}/Audit_Report_{{ inventory_hostname }}_{{ ansible_date_time.iso8601_basic_short }}.html"
        content: "{{ lookup('ansible.builtin.template', '../templates/server_2025_securitysettings.j2') }}"
        mode: put
        region: "{{ aws_region }}"
      register: s3_upload_result

    - name: Generate Pre-signed URL
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket }}"
        object: "{{ s3_upload_result.key | default(s3_path + '/Audit_Report_' + inventory_hostname + '_' + ansible_date_time.iso8601_basic_short + '.html') }}"
        mode: geturl
        expiry: 3600
        region: "{{ aws_region }}"
      register: presigned_url

    - name: Final Link to Report
      debug:
        msg: 
          - "SUCCESS: Check the link below to verify the file exists."
          - "URL: {{ presigned_url.url }}"
