---
- name: AWS Infrastructure - Create and Attach
  hosts: localhost
  connection: local
  gather_facts: true
  
  module_defaults:
    amazon.aws.ec2_vol:
      session_token: "{{ lookup('env', 'AWS_SESSION_TOKEN') | default(omit) }}"
    amazon.aws.ec2_instance_info:
      session_token: "{{ lookup('env', 'AWS_SESSION_TOKEN') | default(omit) }}"

  vars:
    aws_instance: "{{ target_instance_id }}"
    aws_size: "{{ target_vol_size | int }}"
    aws_region: "{{ target_region | default('eu-west-1') }}"
    volume_type: "gp3"
    candidate_letters: ['f','g','h','i','j','k','l','m','n','o','p']

  tasks:
    - name: Step 1-4 - Logic for next available drive
      amazon.aws.ec2_instance_info:
        region: "{{ aws_region }}"
        instance_ids: ["{{ aws_instance }}"]
      register: instance_info

    - name: Step 5-6 - Create and Attach
      amazon.aws.ec2_vol:
        region: "{{ aws_region }}"
        zone: "{{ instance_info.instances[0].placement.availability_zone }}"
        volume_size: "{{ aws_size }}"
        instance: "{{ aws_instance }}"
        device_name: "/dev/sd{{ (candidate_letters | difference(instance_info.instances[0].block_device_mappings | map(attribute='device_name') | map('regex_replace', '^/dev/sd', '') | list))[0] }}"
        state: present
      register: new_vol

    - name: Step 9 - Set Target Facts
      set_fact:
        vol_serial: "{{ new_vol.volume_id | replace('vol-', '') | replace('-', '') }}"
        target_ip: "{{ instance_info.instances[0].public_ip_address or instance_info.instances[0].private_ip_address }}"

    - name: Update inventory
      add_host:
        name: "current_target"
        ansible_host: "{{ target_ip }}"
        ansible_user: "ubuntu"
        ansible_ssh_private_key_file: "/runner/artifacts/1453/ssh_key_data"
        groups: active_nodes

- name: OS Configuration - Format and Mount
  hosts: active_nodes
  become: yes
  tasks:
    - name: Step 11 - Discover exact new device
      shell: |
        lsblk -rdpno NAME,SERIAL | grep -i "{{ hostvars['localhost']['vol_serial'] }}" | awk '{print $1}'
      register: found_device

    - name: Step 12 - Format and Mount
      block:
        - name: Create unique mount point
          file:
            path: "/mnt/storage_{{ hostvars['localhost']['aws_size'] }}gb"
            state: directory

        - name: Format
          filesystem:
            fstype: ext4
            dev: "{{ found_device.stdout }}"

        - name: Mount with nofail (Safe for reboots)
          mount:
            path: "/mnt/storage_{{ hostvars['localhost']['aws_size'] }}gb"
            src: "{{ found_device.stdout }}"
            fstype: ext4
            opts: defaults,nofail
            state: mounted
