---
- name: AWS Infrastructure - Create and Attach
  hosts: localhost
  connection: local
  gather_facts: true
  vars:
    aws_region: "eu-west-1"
    aws_instance: "{{ target_instance_id }}"
    aws_size: "{{ target_vol_size | int }}"
    aws_zone: "{{ target_zone }}"

  tasks:
    - name: Step 1 - Create Unique Volume
      amazon.aws.ec2_vol:
        region: "{{ aws_region }}"
        zone: "{{ aws_zone }}"
        volume_size: "{{ aws_size }}"
        # Random name ensures AWS sees this as a brand new request
        name: "Disk-{{ 100 | random }}-{{ ansible_date_time.epoch }}"
        state: present
      register: raw_vol

    - name: Step 2 - Attach to Instance
      amazon.aws.ec2_vol:
        region: "{{ aws_region }}"
        instance: "{{ aws_instance }}"
        id: "{{ raw_vol.volume_id }}"
        # Using a high letter like /dev/sdp ensures we don't clash 
        # with common lower slots like /dev/sdb or /dev/sdh
        device_name: "/dev/sdp" 
        state: present

    - name: Set facts for OS discovery
      set_fact:
        vol_id_short: "{{ raw_vol.volume_id | replace('-', '') }}"
        final_path: "/data_{{ aws_size }}gb_{{ raw_vol.volume_id[-4:] }}"

- name: OS Configuration - Universal Format and Mount
  hosts: linux_hosts
  become: yes
  tasks:
    - name: Universal Device Discovery
      shell: 
        cmd: |
          for bus in /sys/class/scsi_host/host*/scan; do echo "- - -" > "$bus"; done
          udevadm settle && sleep 5
          SERIAL_ID="{{ hostvars['localhost']['vol_id_short'] }}"
          # Matches the NEW volume ID to the OS device name
          DEVICE=$(lsblk -rdpno NAME,SERIAL | grep "$SERIAL_ID" | awk '{print $1}' | head -n 1)
          echo "/dev/$(basename $DEVICE)"
      register: found_device

    - name: Format and Mount
      block:
        - name: Create directory
          file:
            path: "{{ hostvars['localhost']['final_path'] }}"
            state: directory
            mode: '0755'

        - name: Create filesystem
          filesystem:
            fstype: ext4
            dev: "{{ found_device.stdout }}"
            force: no

        - name: Mount volume
          mount:
            path: "{{ hostvars['localhost']['final_path'] }}"
            src: "{{ found_device.stdout }}"
            fstype: ext4
            state: mounted
            opts: defaults

    - name: Final Success Message
      debug:
        msg: 
          - "SUCCESS: Fresh disk attached and mounted!"
          - "Volume ID: {{ hostvars['localhost']['vol_id_short'] }}"
          - "Linux Path: {{ hostvars['localhost']['final_path'] }}"
          - "Device Name: {{ found_device.stdout }}"
