
    - name: Detect filesystem
      become: yes
      command: lsblk -no FSTYPE "{{ found_device.stdout }}"
      register: fs_type

    - name: Format and mount
      become: yes
      vars:
        mpath: "/data_{{ hostvars['localhost']['aws_size'] }}gb_{{ hostvars['localhost']['raw_vol']['volume_id'][-4:] }}"
      block:
        - name: Create directory
          file:
            path: "{{ mpath }}"
            state: directory
            mode: '0755'

        - name: Create filesystem if none
          filesystem:
            fstype: ext4
            dev: "{{ found_device.stdout }}"
          when: fs_type.stdout | trim == ""

        - name: Mount filesystem
          mount:
            path: "{{ mpath }}"
            src: "{{ found_device.stdout }}"
            fstype: ext4
            state: mounted
