---
- name: Windows Connectivity Test
  hosts: windows_hosts
  gather_facts: true
  tasks:
    - name: Ping Windows host
      ansible.windows.win_ping:

    - name: Display Windows OS details
      ansible.builtin.debug:
        msg: >-
          SUCCESS: Connected to {{ inventory_hostname }}.
          OS family={{ ansible_facts['os_family'] }},
          OS Name={{ ansible_facts['distribution'] | default('Windows') }},
          Build Version={{ ansible_facts['distribution_version'] }}.
