---
- name: AWS Infrastructure - Resize Linux EBS Volume
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    region: eu-west-1
    volume_id: vol-08992a32f5c7acbed
    new_size: 10  # Increasing it to 10GB as an example

  tasks:
    - name: Get current volume info
      amazon.aws.ec2_vol_info:
        region: "{{ region }}"
        filters:
          volume-id: "{{ volume_id }}"
      register: vol_info

    - name: Modify EBS volume size in AWS
      amazon.aws.ec2_vol:
        id: "{{ volume_id }}"
        volume_size: "{{ new_size }}"
        region: "{{ region }}"
        zone: "{{ vol_info.volumes[0].zone }}"
        modify_volume: true
      register: resize_result

    - name: Wait for AWS to complete volume modification
      pause:
        seconds: 30  # Increased slightly to ensure AWS backend finishes
      when: resize_result.changed

- name: OS Configuration - Extend Linux Filesystem
  hosts: linux_hosts
  become: yes
  tasks:
    - name: Resize the ext4 filesystem
      filesystem:
        fstype: ext4
        dev: /dev/xvdf
        resizefs: yes
