---
- name: Resize gp3 EBS volume to 17 GB
  hosts: localhost
  gather_facts: false
  vars:
    region: eu-west-1
    volume_id: vol-0f6bd48fc470f0780
    new_size: 17   # target size in GB

  tasks:
    - name: Get current volume info
      amazon.aws.ec2_vol_info:
        region: "{{ region }}"
        filters:
          volume-id: "{{ volume_id }}"
      register: vol_info

    - name: Modify EBS volume size to 17 GB
      amazon.aws.ec2_vol:
        id: "{{ vol_info.volumes[0].id }}"
        volume_size: "{{ new_size }}"
        volume_type: gp3
        region: "{{ region }}"
        zone: "{{ vol_info.volumes[0].zone }}"
        modify_volume: true
      register: resize_result

- name: Extend partition inside Windows
  hosts: windows_hosts
  gather_facts: false
  collections:
    - ansible.windows
  tasks:
    - name: Gather disk facts
      win_disk_facts:

    - name: "Extend E: partition to full size"
      win_partition:
        drive_letter: "E"
        state: present
        partition_size: -1