---
- name: Windows Server 2025 Local Policy Baseline - Factory Shipped Defaults
  hosts: windows_server_2025
  gather_facts: yes
  vars:
    s3_bucket_name: "oml-s3-automation-sandbox"
    s3_region: "eu-west-1"
    
    # These are the standard "Out of the Box" settings for Windows Server 2025
    msft_factory_defaults:
      SeTrustedCredManAccessPrivilege: ""  # Access Credential Manager as a trusted caller
      SeNetworkLogonRight: "Administrators, Authenticated Users, Everyone"
      SeBackupPrivilege: "Administrators"
      SeCreatePagefilePrivilege: "Administrators"
      SeDebugPrivilege: "Administrators"
      SeRemoteShutdownPrivilege: "Administrators"
      SeServiceLogonRight: ""
      SeIncreaseQuotaPrivilege: "Administrators, Local Service, Network Service"
      SeInteractiveLogonRight: "Administrators, Users"
      SeSystemtimePrivilege: "Administrators, Local Service"
      SeTimeZonePrivilege: "Administrators, Local Service, Users"
      SeAssignPrimaryTokenPrivilege: ""
      SeRestorePrivilege: "Administrators"

  tasks:
    - name: Audit Against Microsoft Factory Shipped Defaults
      ansible.windows.win_user_right:
        name: "{{ item.key }}"
        users: "{{ [] if item.value == '' else item.value.split(', ') }}"
        action: add
      check_mode: yes
      register: audit_results
      loop: "{{ msft_factory_defaults | dict2items }}"

    - name: Ensure Local Report Directory Exists
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ playbook_dir }}/reports"
        state: directory

    - name: Generate the HTML Report
      delegate_to: localhost
      ansible.builtin.template:
        src: "{{ playbook_dir }}/../templates/baseline-local Policy_report.j2"
        dest: "{{ playbook_dir }}/reports/msft_factory_defaults.html"

    - name: Upload Report to S3
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket_name }}"
        object: "factory-defaults/Local_Policy_Original_{{ ansible_date_time.iso8601_basic_short }}.html"
        src: "{{ playbook_dir }}/reports/msft_factory_defaults.html"
        mode: put
        region: "{{ s3_region }}"
      register: s3_upload
