---
- name: Windows Server 2025 Baseline Scan
  hosts: windows_hosts
  gather_facts: yes
  vars:
    s3_bucket: "oml-s3-automation-sandbox"
    s3_folder: "CISbasline-Files"
    aws_region: "eu-west-1" # Your specific region

  tasks:
    - name: Run Windows Server 2025 Security Baseline Audit
      ansible.windows.win_powershell:
        script: |
          $role = (Get-CimInstance -ClassName Win32_ComputerSystem).DomainRole
          $scenario = if ($role -in 4, 5) { "SecurityBaseline/WS2025/DomainController" } else { "SecurityBaseline/WS2025/MemberServer" }
          Get-OSConfigDesiredConfiguration -Scenario $scenario
      register: baseline_output

    - name: Ensure Report Directory Exists on Control Node
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ playbook_dir }}/../reports"
        state: directory
      become: no

    - name: Generate the HTML Report
      delegate_to: localhost
      ansible.builtin.template:
        src: "../templates/baseline_report.j2"
        dest: "{{ playbook_dir }}/../reports/{{ inventory_hostname }}_baseline_report.html"
      vars:
        audit_results: "{{ baseline_output.output }}"
      become: no

    - name: Upload Report to S3
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket }}"
        region: "{{ aws_region }}"
        object: "{{ s3_folder }}/{{ inventory_hostname }}_baseline_report.html"
        src: "{{ playbook_dir }}/../reports/{{ inventory_hostname }}_baseline_report.html"
        mode: put
        headers:
          Content-Type: "text/html"
      become: no

    - name: Generate Temporary Viewing Link
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket }}"
        region: "{{ aws_region }}"
        object: "{{ s3_folder }}/{{ inventory_hostname }}_baseline_report.html"
        mode: getsignurl
        expiry: 3600 # Link valid for 1 hour
      register: s3_link
      become: no

    - name: Display Report Link
      debug:
        msg: "SUCCESS! View your report here: {{ s3_link.url }}"
