SSH password:
1
[WARNING]: Collection amazon.aws does not support Ansible version 2.16.15
2

3
PLAY [Windows Security Baseline Collection + HTML Report + S3 Upload] **********  
08:46:53
4

5
TASK [Ensure working directories exist] ****************************************  
08:46:53
6
ok: [windows_server_2025] => (item=C:\Temp\ws-audit)
7
ok: [windows_server_2025] => (item=C:\Temp\ws-audit\artifacts)
8

9
TASK [Export Local Security Policy] ********************************************  
08:46:58
10
changed: [windows_server_2025]
11

12
TASK [Export Advanced Audit Policy] ********************************************  
08:47:02
13
changed: [windows_server_2025]
14

15
TASK [Build JSON report and return file path] **********************************  
08:47:04
16
changed: [windows_server_2025]
17

18
TASK [Read JSON content] *******************************************************  
08:47:06
19
fatal: [windows_server_2025]: FAILED! => {"changed": true, "cmd": "type \"C:\\Temp\\ws-audit\\artifacts\\\\ws_security_EC2AMAZ_808N0JM_20260212_064706.json\r\n\"", "delta": "0:00:00.743531", "end": "2026-02-12 06:47:09.249817", "msg": "non-zero return code", "rc": 1, "start": "2026-02-12 06:47:08.506286", "stderr": "type : Illegal characters in path.\r\nAt line:1 char:65\r\n+ ... ing $false; type \"C:\\Temp\\ws-audit\\artifacts\\\\ws_security_EC2AMAZ_808 ...\r\n+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\r\n + CategoryInfo : InvalidArgument: (C:\\Temp\\ws-audi...2_064706.json\r\n:String) [Get-Content], ArgumentException\r\n + FullyQualifiedErrorId : ItemExistsArgumentError,Microsoft.PowerShell.Commands.GetContentCommand\r\n \r\ntype : Cannot find path 'C:\\Temp\\ws-audit\\artifacts\\ws_security_EC2AMAZ_808N0JM_20260212_064706.json\r\n' because it does not exist.\r\nAt line:1 char:65\r\n+ ... ing $false; type \"C:\\Temp\\ws-audit\\artifacts\\\\ws_security_EC2AMAZ_808 ...\r\n+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\r\n + CategoryInfo : ObjectNotFound: (C:\\Temp\\ws-audi...2_064706.json\r\n:String) [Get-Content], ItemNotFoundException\r\n + FullyQualifiedErrorId : PathNotFound,Microsoft.PowerShell.Commands.GetContentCommand", "stderr_lines": ["type : Illegal characters in path.", "At line:1 char:65", "+ ... ing $false; type \"C:\\Temp\\ws-audit\\artifacts\\\\ws_security_EC2AMAZ_808 ...", "+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~", " + CategoryInfo : InvalidArgument: (C:\\Temp\\ws-audi...2_064706.json", ":String) [Get-Content], ArgumentException", " + FullyQualifiedErrorId : ItemExistsArgumentError,Microsoft.PowerShell.Commands.GetContentCommand", " ", "type : Cannot find path 'C:\\Temp\\ws-audit\\artifacts\\ws_security_EC2AMAZ_808N0JM_20260212_064706.json", "' because it does not exist.", "At line:1 char:65", "+ ... ing $false; type \"C:\\Temp\\ws-audit\\artifacts\\\\ws_security_EC2AMAZ_808 ...", "+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~", " + CategoryInfo : ObjectNotFound: (C:\\Temp\\ws-audi...2_064706.json", ":String) [Get-Content], ItemNotFoundException", " + FullyQualifiedErrorId : PathNotFound,Microsoft.PowerShell.Commands.GetContentCommand"], "stdout": "", "stdout_lines": []}
20
21
PLAY RECAP *********************************************************************
22
windows_server_2025 : ok=4 changed=3 unreachable=0 failed=1 skipped=0 rescued=0 ignored=0
