---
- name: Windows Server 2025 Local Policy Baseline - User Rights
  hosts: windows_server_2025
  gather_facts: yes
  vars:
    s3_bucket_name: "oml-s3-automation-sandbox"
    s3_region: "eu-west-1"

  tasks:
    - name: Audit All CIS Section 2.2 User Rights
      ansible.windows.win_user_right:
        name: "{{ item }}"
        users: []
        action: add
      check_mode: yes
      register: audit_results
      loop:
        - SeNetworkLogonRight
        - SeBackupPrivilege
        - SeCreatePagefilePrivilege
        - SeDebugPrivilege
        - SeRemoteShutdownPrivilege
        - SeServiceLogonRight
        - SeIncreaseQuotaPrivilege
        - SeInteractiveLogonRight

    - name: Ensure Local Report Directory Exists
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ playbook_dir }}/reports"
        state: directory

    - name: Generate the HTML Report
      delegate_to: localhost
      ansible.builtin.template:
        # EXACT pathing logic from your working Account Policy playbook
        src: "{{ playbook_dir }}/../templates/baseline-local Policy_report.j2"
        dest: "{{ playbook_dir }}/reports/local_policy_baseline.html"

    - name: Upload Report to S3
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket_name }}"
        object: "cis-baseline-files/Local_Policy_{{ ansible_date_time.iso8601_basic_short }}.html"
        src: "{{ playbook_dir }}/reports/local_policy_baseline.html"
        mode: put
        region: "{{ s3_region }}"
      register: s3_upload

    - name: Display Report Link
      debug:
        msg: "The Local Policy report link is: {{ s3_upload.url }}"
