---
- name: Windows Server 2025 Local Policy Baseline - User Rights
  hosts: windows_server_2025
  gather_facts: yes
  vars:
    s3_bucket_name: "oml-s3-automation-sandbox"
    s3_region: "eu-west-1"
    
    # CIS Benchmark v1.0.0 - Section 2.2 Recommended Defaults
    cis_user_rights_baseline:
      SeNetworkLogonRight: "Administrators, Remote Management Users"
      SeBackupPrivilege: "Administrators"
      SeCreatePagefilePrivilege: "Administrators"
      SeDebugPrivilege: "Administrators"
      SeRemoteShutdownPrivilege: "Administrators"
      SeServiceLogonRight: "No One"
      SeIncreaseQuotaPrivilege: "Administrators"
      SeInteractiveLogonRight: "Administrators, Users"

  tasks:
    - name: Audit CIS Section 2.2 User Rights against Benchmark
      ansible.windows.win_user_right:
        name: "{{ item.key }}"
        users: "{{ item.value.split(', ') }}"
        action: add
      check_mode: yes
      register: audit_results
      loop: "{{ cis_user_rights_baseline | dict2items }}"

    - name: Ensure Local Report Directory Exists
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ playbook_dir }}/reports"
        state: directory

    - name: Generate the HTML Report
      delegate_to: localhost
      ansible.builtin.template:
        src: "{{ playbook_dir }}/../templates/baseline-local Policy_report.j2"
        dest: "{{ playbook_dir }}/reports/local_policy_baseline.html"
      vars:
        # Passing the baseline dictionary to the template for comparison
        expected_values: "{{ cis_user_rights_baseline }}"

    - name: Upload Report to S3
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket_name }}"
        object: "cis-baseline-files/Local_Policy_CIS_Audit_{{ ansible_date_time.iso8601_basic_short }}.html"
        src: "{{ playbook_dir }}/reports/local_policy_baseline.html"
        mode: put
        region: "{{ s3_region }}"
      register: s3_upload
