---
- name: Scan Windows 2025 and Upload Report to S3
  hosts: "{{ target_hosts }}"
  gather_facts: yes
  vars:
    s3_bucket: "oml-s3-automation-sandbox"
    s3_path: "cis-baseline-files"
    aws_region: "eu-west-1"

  tasks:
    - name: Ensure temp directory exists for policy export
      ansible.windows.win_file:
        path: C:\temp
        state: directory

    - name: Export Current User Rights Assignment
      ansible.windows.win_shell: |
        $configFile = "C:\temp\audit_scan.inf"
        secedit /export /areas USER_RIGHTS /cfg $configFile
        if (Test-Path $configFile) {
            Get-Content $configFile | Select-String -Pattern "^Se"
        }
      register: policy_scan

    - name: Generate HTML Report from Template
      delegate_to: localhost
      ansible.builtin.template:
        # Pointing directly to the filename since it's in your /templates folder
        src: "baseline-local Policy_report.j2"
        dest: "/tmp/Server_Audit_{{ inventory_hostname }}.html"

    - name: Upload Audit Report to S3 Bucket
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket }}"
        object: "{{ s3_path }}/Server_Audit_{{ ansible_date_time.iso8601_basic_short }}.html"
        src: "/tmp/Server_Audit_{{ inventory_hostname }}.html"
        mode: put
        region: "{{ aws_region }}"

    - name: Cleanup temporary remote policy file
      ansible.windows.win_file:
        path: C:\temp\audit_scan.inf
        state: absent
