---
- name: Scan and Report Local User Accounts
  hosts: windows_server
  gather_facts: no
  vars:
    # List of built-in accounts to ignore in the report
    system_accounts:
      - "Administrator"
      - "Guest"
      - "DefaultAccount"
      - "WDAGUtilityAccount"

  tasks:
    - name: Get list of all local users
      ansible.windows.win_shell: |
        Get-LocalUser | Select-Object -ExpandProperty Name
      register: local_users_raw

    - name: Filter and format user list
      ansible.builtin.set_fact:
        detected_users: "{{ local_users_raw.stdout_lines | difference(system_accounts) }}"

    - name: Summary of Detected Local Accounts
      ansible.builtin.debug:
        msg: |
          "SCAN COMPLETE"
          "----------------------------------------"
          "Total Custom Users Found: {{ detected_users | length }}"
          "User List: {{ detected_users }}"
          "----------------------------------------"

    - name: Optional - Save report to local file
      ansible.builtin.copy:
        content: |
          Inventory Report for {{ inventory_hostname }}
          Date: {{ ansible_date_time.date | default('N/A') }}
          Detected Users: {{ detected_users | join(', ') }}
        dest: "C:\\temp\\user_audit_report.txt"
      ignore_errors: yes
