---
- name: Test connectivity and show OS Family
  hosts: all
  gather_facts: true # Ensure facts are collected for the 'when' condition

  tasks:
    - name: Display success message for Linux host
      ansible.builtin.debug:
        msg: "SUCCESS: Connected to {{ inventory_hostname }}. OS is {{ ansible_facts['distribution'] }}."
      when: ansible_facts['os_family'] == 'Debian'

    - name: Display success message for Windows host
      ansible.builtin.debug:
        msg: "SUCCESS: Connected to {{ inventory_hostname }}. OS is {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}."
      when: ansible_facts['os_family'] == 'Windows'