---
- name: Audit Reversible Encryption
  hosts: all
  gather_facts: yes
  vars:
    s3_bucket_name: "oml-s3-automation-sandbox"
    s3_region: "eu-west-1"
    report_filename: "Reversible_Encryption_Report_{{ inventory_hostname }}.html"

  tasks:
    - name: Audit Reversible Encryption Setting
      win_shell: |
        $tempFile = "C:\Windows\Temp\secedit_audit.inf"
        secedit /export /cfg $tempFile /areas SECURITYPOLICY | Out-Null
        $policy = Get-Content $tempFile
        Remove-Item $tempFile
        
        $line = $policy | Select-String "^ClearTextPassword\s*="
        # If 0 (Disabled), we return "Disabled". If 1 (Enabled), we return "Enabled".
        if ($line -and $line.ToString().Split('=')[1].Trim() -eq "0") { "Disabled" } else { "Enabled" }
      register: reversible_status
      check_mode: no

    - name: Render Report
      delegate_to: localhost
      template:
        src: "../templates/Windows-2025-HardenedAcountPolicies-checkmode.j2"
        dest: "/tmp/{{ report_filename }}"
      vars:
        current_state: "{{ reversible_status.stdout | trim }}"
      check_mode: no

    - name: Upload to S3
      delegate_to: localhost
      amazon.aws.s3_object:
        bucket: "{{ s3_bucket_name }}"
        object: "cis-baseline-files/{{ report_filename }}"
        src: "/tmp/{{ report_filename }}"
        mode: put
        region: "{{ s3_region }}"
      check_mode: no
